In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('2023-11-PLUVIOMETRIA-CGESP.csv', sep=';', encoding='latin-1')
df.head()

,Regiao,1,2,3,4,5,6,7,8,9,...,27,28,29,30,TOTAL,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,CV - Casa Verde,"0,8","0,0","12,2","0,1","0,0","0,0","0,0","0,0","0,0",...,"15,5","19,1","8,0","0,8","131,0",NaN,NaN,NaN,NaN,NaN
1,FO - Freguesia do Ó,"1,0","0,0","12,7","0,2","0,0","0,0","0,0","0,0","0,0",...,"19,1","18,7","8,3","2,6","141,0",NaN,NaN,NaN,NaN,NaN
2,JT - Jaçanã / Tremembé,"2,1","0,0","13,4","0,4","0,0","0,0","0,0","0,0","0,0",...,"31,9","26,5","6,2","1,2","158,2",NaN,NaN,NaN,NaN,NaN
3,MG - Vl. Maria / Guilherme,"1,7","0,0","11,2","0,1","0,0","0,0","0,0","0,0","0,0",...,"13,1","30,7","11,0","0,0","152,6",NaN,NaN,NaN,NaN,NaN
4,PJ - Pirituba / Jaraguá,"0,7","0,0","11,9","0,3","0,0","0,0","0,0","0,0","0,0",...,"12,0","14,8","10,6","6,3","138,7",NaN,NaN,NaN,NaN,NaN

In [ ]:
df_transposto = df.T

In [ ]:
print("DataFrame Original:")
print(df)
print("\nDataFrame Transposto:")
print(df_transposto)

DataFrame Original:
                        Regiao    1    2     3    4    5    6    7    8    9  \
0              CV - Casa Verde  0,8  0,0  12,2  0,1  0,0  0,0  0,0  0,0  0,0
1          FO - Freguesia do Ó  1,0  0,0  12,7  0,2  0,0  0,0  0,0  0,0  0,0
2       JT - Jaçanã / Tremembé  2,1  0,0  13,4  0,4  0,0  0,0  0,0  0,0  0,0
3   MG - Vl. Maria / Guilherme  1,7  0,0  11,2  0,1  0,0  0,0  0,0  0,0  0,0
4      PJ - Pirituba / Jaraguá  0,7  0,0  11,9  0,3  0,0  0,0  0,0  0,0  0,0
..                         ...  ...  ...   ...  ...  ...  ...  ...  ...  ...
83                         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
84                         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
85                         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
86                         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
87                         NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN

    ...    27    28    29   30  TOTAL Unnamed: 32 Unnamed: 33 Unnamed: 34  \
0   ...  15,5  19,1   8,0  0,8  131,0         NaN         NaN         NaN
1   ...  19,1  18,7   8,3  2,6  141,0         NaN         NaN         NaN
2   ...  31,9  26,5   6,2  1,2  158,2         NaN         NaN         NaN
3   ...  13,1  30,7  11,0  0,0  152,6         NaN         NaN         NaN
4   ...  12,0  14,8  10,6  6,3  138,7         NaN         NaN         NaN
..  ...   ...   ...   ...  ...    ...         ...         ...         ...
83  ...   NaN   NaN   NaN  NaN    NaN         NaN         NaN         NaN
84  ...   NaN   NaN   NaN  NaN    NaN         NaN         NaN         NaN
85  ...   NaN   NaN   NaN  NaN    NaN         NaN         NaN         NaN
86  ...   NaN   NaN   NaN  NaN    NaN         NaN         NaN         NaN
87  ...   NaN   NaN   NaN  NaN    NaN         NaN         NaN         NaN

   Unnamed: 35 Unnamed: 36
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN
..         ...         ...
83         NaN         NaN
84         NaN         NaN
85         NaN         NaN
86         NaN         NaN
87         NaN         NaN

[88 rows x 37 columns]

DataFrame Transposto:
                          0                    1                       2   \
Regiao       CV - Casa Verde  FO - Freguesia do Ó  JT - Jaçanã / Tremembé
1                        0,8                  1,0                     2,1
2                        0,0                  0,0                     0,0
3                       12,2                 12,7                    13,4
4                        0,1                  0,2                     0,4
5                        0,0                  0,0                     0,0
6                        0,0                  0,0                     0,0
7                        0,0                  0,0                     0,0
8                        0,0                  0,0                     0,0
9                        0,0                  0,0                     0,0
10                       0,1                  0,0                     4,5
11                       0,0                  0,0                     0,0
12                       0,0                  0,0                     0,0
13                       0,2                  0,2                     0,8
14                       0,0                  0,0                     0,1
15                      32,8                 34,3                    28,4
16                       0,0                  0,0                     0,2
17                       0,0                  0,0                     0,0
18                       5,6                  5,9                     0,6
19                      21,8                 24,1                    24,7
20                       0,2                  0,3                     1,6
21                       0,0                  0,0                     0,0
22                       0,0                  0,0                     0,0
23                       8,9                  8,8                     8,4
24                       1,7                  1,7                     3,2
25                       3,2                  3,1                     4,0
26                       0,0                  0,0                     0,0
27                      15,5                 19,1                    31,9
28                      19,1                 18,7                    26,5
29                       8,0                  8,3                     6,2
30                       0,8                  2,6                     1,2
TOTAL                  131,0                141,0                   158,2
Unnamed: 32              NaN                  NaN                     NaN
Unnamed: 33              NaN                  NaN                     NaN
Unnamed: 34              NaN                  NaN                     NaN
Unnamed: 35              NaN                  NaN                     NaN
Unnamed: 36              NaN                  NaN                     NaN

                                     3                        4           5   \
Regiao       MG - Vl. Maria / Guilherme  PJ - Pirituba / Jaraguá  PR - Perus
1                                   1,7                      0,7         0,5
2                                   0,0                      0,0         0,0
3                                  11,2                     11,9        12,1
4                                   0,1                      0,3         0,9
5                                   0,0                      0,0         0,0
6                                   0,0                      0,0         0,0
7                                   0,0                      0,0         0,0
8                                   0,0                      0,0         0,0
9                                   0,0                      0,0         0,0
10                                  0,2                      0,0         0,0
11                                  0,0                      0,0         0,0
12                                  0,0                      0,0         0,0
13                                  0,0                      0,0         0,0
14                                  0,4                      0,0         0,0
15                                 39,1                     36,9        20,6
16                                  0,1                      0,8         1,8
17                                  0,0                      0,0         0,0
18                                  3,5                      6,7         5,2
19                                 26,0                     23,5        26,3
20                                  0,1                      0,4         0,5
21                                  0,0                      0,0         0,0
22                                  0,0                      0,0         0,0
23                                  9,0                      9,5         9,3
24                                  2,2                      1,3         1,2
25                                  4,2                      3,0         2,1
26                                  0,0                      0,0         0,0
27                                 13,1                     12,0        14,7
28                                 30,7                     14,8        12,0
29                                 11,0                     10,6        13,8
30                                  0,0                      6,3         3,0
TOTAL                             152,6                    138,7       124,0
Unnamed: 32                         NaN                      NaN         NaN
Unnamed: 33                         NaN                      NaN         NaN
Unnamed: 34                         NaN                      NaN         NaN
Unnamed: 35                         NaN                      NaN         NaN
Unnamed: 36                         NaN                      NaN         NaN

                       6                        7   \
Regiao       ST - Santana  PRECIPITAÇÃO MÉDIA - ZN
1                     1,3                      1,2
2                     0,0                      0,0
3                    12,5                     12,3
4                     0,2                      0,3
5                     0,0                      0,0
6                     0,0                      0,0
7                     0,0                      0,0
8                     0,0                      0,0
9                     0,0                      0,0
10                    0,5                      0,8
11                    0,0                      0,0
12                    0,0                      0,0
13                    0,2                      0,2
14                    0,0                      0,1
15                   34,9                     32,4
16                    0,1                      0,4
17                    0,0                      0,0
18                    4,0                      4,5
19                   22,2                     24,1
20                    0,4                      0,5
21                    0,0                      0,0
22                    0,0                      0,0
23                    9,3                      9,0
24                    2,2                      1,9
25                    3,6                      3,3
26                    0,0                      0,0
27                   16,7                     17,6
28                   24,1                     20,8
29                    8,9                      9,5
30                    0,4                      2,0
TOTAL               141,5                    141,0
Unnamed: 32           NaN                      NaN
Unnamed: 33           NaN                      NaN
Unnamed: 34           NaN                      NaN
Unnamed: 35           NaN                      NaN
Unnamed: 36           NaN                      NaN

                                        8                        9   ...   78  \
Regiao       AF - Aricanduva / Vl. Formosa  EM - Ermelino Matarazzo  ...  NaN
1                                      1,2                      0,1  ...  NaN
2                                      0,0                      0,0  ...  NaN
3                                     15,9                     12,3  ...  NaN
4                                      0,1                      0,2  ...  NaN
5                                      0,0                      0,0  ...  NaN
6                                      0,0                      0,0  ...  NaN
7                                      0,0                      0,0  ...  NaN
8                                      0,0                      0,0  ...  NaN
9                                      0,0                      0,0  ...  NaN
10                                     0,0                      0,0  ...  NaN
11                                     0,0                      0,0  ...  NaN
12                                     0,0                      0,0  ...  NaN
13                                     0,0                      0,0  ...  NaN
14                                     1,2                      4,8  ...  NaN
15                                    21,5                     25,0  ...  NaN
16                                     0,0                      0,0  ...  NaN
17                                     0,0                      0,0  ...  NaN
18                                     1,9                      0,5  ...  NaN
19                                    31,7                     25,4  ...  NaN
20                                     0,0                      0,2  ...  NaN
21                                     0,0                      0,0  ...  NaN
22                                     0,0                      0,0  ...  NaN
23                                     6,0                      4,3  ...  NaN
24                                     1,4                      1,5  ...  NaN
25                                     4,2                      3,9  ...  NaN
26                                     0,0                      0,0  ...  NaN
27                                     9,6                     20,8  ...  NaN
28                                    34,8                     34,2  ...  NaN
29                                     8,2                     10,2  ...  NaN
30                                     0,0                      0,0  ...  NaN
TOTAL                                137,7                    143,4  ...  NaN
Unnamed: 32                            NaN                      NaN  ...  NaN
Unnamed: 33                            NaN                      NaN  ...  NaN
Unnamed: 34                            NaN                      NaN  ...  NaN
Unnamed: 35                            NaN                      NaN  ...  NaN
Unnamed: 36                            NaN                      NaN  ...  NaN

              79   80   81   82   83   84   85   86   87
Regiao       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
12           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
TOTAL        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Unnamed: 32  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Unnamed: 33  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Unnamed: 34  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Unnamed: 35  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Unnamed: 36  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[37 rows x 88 columns]

In [ ]:
df_transposto

,0,1,2,3,4,5,6,7,8,9,...,78,79,80,81,82,83,84,85,86,87
Regiao,CV - Casa Verde,FO - Freguesia do Ó,JT - Jaçanã / Tremembé,MG - Vl. Maria / Guilherme,PJ - Pirituba / Jaraguá,PR - Perus,ST - Santana,PRECIPITAÇÃO MÉDIA - ZN,AF - Aricanduva / Vl. Formosa,EM - Ermelino Matarazzo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"0,8","1,0","2,1","1,7","0,7","0,5","1,3","1,2","1,2","0,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"12,2","12,7","13,4","11,2","11,9","12,1","12,5","12,3","15,9","12,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"0,1","0,2","0,4","0,1","0,3","0,9","0,2","0,3","0,1","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"0,1","0,0","4,5","0,2","0,0","0,0","0,5","0,8","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"0,2","0,2","0,8","0,0","0,0","0,0","0,2","0,2","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"0,0","0,0","0,1","0,4","0,0","0,0","0,0","0,1","1,2","4,8",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"32,8","34,3","28,4","39,1","36,9","20,6","34,9","32,4","21,5","25,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"0,0","0,0","0,2","0,1","0,8","1,8","0,1","0,4","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"5,6","5,9","0,6","3,5","6,7","5,2","4,0","4,5","1,9","0,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"21,8","24,1","24,7","26,0","23,5","26,3","22,2","24,1","31,7","25,4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"0,2","0,3","1,6","0,1","0,4","0,5","0,4","0,5","0,0","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"8,9","8,8","8,4","9,0","9,5","9,3","9,3","9,0","6,0","4,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"1,7","1,7","3,2","2,2","1,3","1,2","2,2","1,9","1,4","1,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"3,2","3,1","4,0","4,2","3,0","2,1","3,6","3,3","4,2","3,9",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"15,5","19,1","31,9","13,1","12,0","14,7","16,7","17,6","9,6","20,8",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"19,1","18,7","26,5","30,7","14,8","12,0","24,1","20,8","34,8","34,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"8,0","8,3","6,2","11,0","10,6","13,8","8,9","9,5","8,2","10,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"0,8","2,6","1,2","0,0","6,3","3,0","0,4","2,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL,"131,0","141,0","158,2","152,6","138,7","124,0","141,5","141,0","137,7","143,4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print("Índices do DataFrame:")
print(df.index)

Índices do DataFrame:
RangeIndex(start=0, stop=88, step=1)

In [ ]:
nomes_para_excluir = ['Unnamed: 36', 'Unnamed: 35', 'Unnamed: 34', 'Unnamed: 33', 'Unnamed: 32']

In [ ]:
df_transposto.drop(index=nomes_para_excluir)

,0,1,2,3,4,5,6,7,8,9,...,78,79,80,81,82,83,84,85,86,87
Regiao,CV - Casa Verde,FO - Freguesia do Ó,JT - Jaçanã / Tremembé,MG - Vl. Maria / Guilherme,PJ - Pirituba / Jaraguá,PR - Perus,ST - Santana,PRECIPITAÇÃO MÉDIA - ZN,AF - Aricanduva / Vl. Formosa,EM - Ermelino Matarazzo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"0,8","1,0","2,1","1,7","0,7","0,5","1,3","1,2","1,2","0,1",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"12,2","12,7","13,4","11,2","11,9","12,1","12,5","12,3","15,9","12,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"0,1","0,2","0,4","0,1","0,3","0,9","0,2","0,3","0,1","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"0,1","0,0","4,5","0,2","0,0","0,0","0,5","0,8","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"0,2","0,2","0,8","0,0","0,0","0,0","0,2","0,2","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"0,0","0,0","0,1","0,4","0,0","0,0","0,0","0,1","1,2","4,8",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"32,8","34,3","28,4","39,1","36,9","20,6","34,9","32,4","21,5","25,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"0,0","0,0","0,2","0,1","0,8","1,8","0,1","0,4","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"5,6","5,9","0,6","3,5","6,7","5,2","4,0","4,5","1,9","0,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"21,8","24,1","24,7","26,0","23,5","26,3","22,2","24,1","31,7","25,4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"0,2","0,3","1,6","0,1","0,4","0,5","0,4","0,5","0,0","0,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"8,9","8,8","8,4","9,0","9,5","9,3","9,3","9,0","6,0","4,3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"1,7","1,7","3,2","2,2","1,3","1,2","2,2","1,9","1,4","1,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"3,2","3,1","4,0","4,2","3,0","2,1","3,6","3,3","4,2","3,9",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"15,5","19,1","31,9","13,1","12,0","14,7","16,7","17,6","9,6","20,8",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"19,1","18,7","26,5","30,7","14,8","12,0","24,1","20,8","34,8","34,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"8,0","8,3","6,2","11,0","10,6","13,8","8,9","9,5","8,2","10,2",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"0,8","2,6","1,2","0,0","6,3","3,0","0,4","2,0","0,0","0,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL,"131,0","141,0","158,2","152,6","138,7","124,0","141,5","141,0","137,7","143,4",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN